@charset "UTF-8";
@import "//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css";
/* -- CONTENTS............You’re reading it!         */
/* -- FLAGS...............Configure options          */
/* -- FUNCTIONS...........Functions for calculations */
/* -- VARIABLES...........Variables for the project  */
/* -- EXTENDS.............Extends for the project    */
/* -- MIXINS..............Mixins for the project     */
/* -- IMPORTS.............                           */
/* -- GENERAL.............                           */
/* -- TYPOGRAPHY..........                           */
/* -- GRIDS...............                           */
/* -- LAYOUT..............                           */
/* -- MODULES.............                           */
/* -- browser with Media Query support */
/* -- em($px) - convert px to ems */
/* -- $FUNCTIONS --                         */
/* em($px) - convert px to ems              */
/* -- Colors */
/* ---- Cool */
/* ---- Warm */
/* ---- Gray Scale */
/* -- Gutters */
/* -- Typography */
/* -- Sizes */
/* -- Breakpoints */
/* -- Libraries  */
/* ---- Typecsset */
/* ---- Grids */
/* -- %ir - image replacement for text         */
/* -- %hide - hide element from screen         */
/* -- %zero - remove padding & margin          */
/* -- %clean-list - remove list formatting     */
/* -- %clearfix - clear floats                 */
/* -- %outline - outline element in red border */
/* -- %container - responsive center aligned   */
/* @group
   -- $EXTENDS --                                                             */
.golfer__details, .golfer__stat-group, .golfer__last-tournaments, .golfer__last-majors, .golfer__last-championship, .footer-nav {
  margin: 0;
  padding: 0; }

.golfer__details, .golfer__stat-group, .golfer__last-tournaments, .golfer__last-majors, .golfer__last-championship, .footer-nav {
  list-style: none; }

/* @end extend */
/* -- @mediaQuery - value, constraint, target     */
/* -- @vertical-gradient - start, stop, direction */
/* -- @ir - image replacement (no args)           */
/* @group
   -- $MIXINS --                                                              */
/* @end mixins */
/**
 * Typecsset
 *
 * Typecsset is a small, unopinionated library for creating beautifully set type
 * on the web. Typecsset gives perfect vertical rhythm at any configurable font
 * size, as well as many other typographical niceties.
 */
/*------------------------------------*\
    #SHARED
\*------------------------------------*/
/**
 * A lot of elements in Typecsset need to share some declarations (mainly for
 * vertical rhythm), so we `@extend` some silent classes.
 */
h1, h2, h3, h4, h5, h6, ul, ol, dd, p, address, pre, blockquote, table {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, ul, ol, dd, p, address, pre, blockquote, table {
  margin-bottom: 21px;
  margin-bottom: 1.3125rem; }

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * 1. Set the base element’s `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your project’s
 *    base font size.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.3125;
  /* [2] */ }

body {
  margin: 0; }

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.3125; }

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.16667; }

h3 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.4; }

h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.75; }

h5 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.05; }

h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.16667; }

/*------------------------------------*\
    #LISTS
\*------------------------------------*/
ul, ol, dd {
  margin-left: 42px;
  margin-left: 2.625rem; }

li > ul,
li > ol {
  margin-bottom: 0; }

/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/
/**
 * Not strictly a paragraph, but probably doesn’t need its own section.
 */
/*------------------------------------*\
    #CODE
\*------------------------------------*/
/**
 * 1. Fix an odd quirk whereby, without this, code blocks are rendered at a
 *    font-size smaller than 1em.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* [1] */ }

/*------------------------------------*\
    #QUOTES
\*------------------------------------*/
/**
 * 1. Hang the opening quote of the blockquote.
 */
blockquote {
  text-indent: -0.41em;
  /* [1] */ }

/**
 * Set up quote marks on quoting elements. This is very English-based, so we are
 * using “, ”, ‘, and ’ quotes.
 */
blockquote {
  quotes: "“" "”";
  margin-left: 42px;
  margin-left: 2.625rem; }
  blockquote p:before {
    content: "“";
    content: open-quote; }
  blockquote p:after {
    content: "";
    content: no-close-quote; }
  blockquote p:last-of-type:after {
    content: "”";
    content: close-quote; }

q {
  quotes: "‘" "’" "“" "”";
  /**
   * If an element opens with an inline quote, let’s hang that.
   */ }
  q:before {
    content: "‘";
    content: open-quote; }
  q:after {
    content: "’";
    content: close-quote; }
  q q:before {
    content: "“";
    content: open-quote; }
  q q:after {
    content: "”";
    content: close-quote; }
  q:first-child {
    display: inline-block;
    text-indent: -0.22em; }

/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Crude table styles; tables are very difficult to keep on the baseline.
 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

th,
td {
  padding: 10.5px; }

/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * This grid uses flex-box for browsers that support it and falls back to `inline-block`.
 * `Using `inline-block` means that the grid items need their whitespace removed in order for them to work 
 * correctly. Set the following to true if you are going to achieve this by manually removing/commenting out
 * any whitespace in your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$grid__push` and/or `$grid__pull` and `$grid__responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$grid__breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Use (new) flex-box if supported.
 * 2. Allow the grid system to be used on lists.
 * 3. Remove any margins and paddings that might affect the grid system.
 * 4. Apply a negative `margin-left` to negate the columns’ gutters.
 * 5. Use standard grid on Firefox < 28 because it does not support flex-flow
 */
/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.group-grid__item, .group-grid__item--name, .group-grid__item--last-tournaments, .group-grid__item--last-majors, .group-grid__item--last-championship, .golfer__name, .golfer__stat-group, .golfer__last-tournaments, .golfer__last-majors, .golfer__last-championship, .golfer__stat-header, .golfer__stat, .selected__list, .nav__item, .nav__item--previous, .nav__item--next {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */ }

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
.group-grid__header, .golfer__details, .golfer__stat-group, .golfer__last-tournaments, .golfer__last-majors, .golfer__last-championship, .selected, .nav__list {
  margin-left: 0; }
  .group-grid__header > .group-grid__item, .golfer__details > .group-grid__item, .golfer__stat-group > .group-grid__item, .golfer__last-tournaments > .group-grid__item, .golfer__last-majors > .group-grid__item, .golfer__last-championship > .group-grid__item, .selected > .group-grid__item, .nav__list > .group-grid__item, .group-grid__header > .group-grid__item--name, .golfer__details > .group-grid__item--name, .golfer__stat-group > .group-grid__item--name, .golfer__last-tournaments > .group-grid__item--name, .golfer__last-majors > .group-grid__item--name, .golfer__last-championship > .group-grid__item--name, .selected > .group-grid__item--name, .nav__list > .group-grid__item--name, .group-grid__header > .group-grid__item--last-tournaments, .golfer__details > .group-grid__item--last-tournaments, .golfer__stat-group > .group-grid__item--last-tournaments, .golfer__last-tournaments > .group-grid__item--last-tournaments, .golfer__last-majors > .group-grid__item--last-tournaments, .golfer__last-championship > .group-grid__item--last-tournaments, .selected > .group-grid__item--last-tournaments, .nav__list > .group-grid__item--last-tournaments, .group-grid__header > .group-grid__item--last-majors, .golfer__details > .group-grid__item--last-majors, .golfer__stat-group > .group-grid__item--last-majors, .golfer__last-tournaments > .group-grid__item--last-majors, .golfer__last-majors > .group-grid__item--last-majors, .golfer__last-championship > .group-grid__item--last-majors, .selected > .group-grid__item--last-majors, .nav__list > .group-grid__item--last-majors, .group-grid__header > .group-grid__item--last-championship, .golfer__details > .group-grid__item--last-championship, .golfer__stat-group > .group-grid__item--last-championship, .golfer__last-tournaments > .group-grid__item--last-championship, .golfer__last-majors > .group-grid__item--last-championship, .golfer__last-championship > .group-grid__item--last-championship, .selected > .group-grid__item--last-championship, .nav__list > .group-grid__item--last-championship, .group-grid__header > .golfer__name, .golfer__details > .golfer__name, .golfer__stat-group > .golfer__name, .golfer__last-tournaments > .golfer__name, .golfer__last-majors > .golfer__name, .golfer__last-championship > .golfer__name, .selected > .golfer__name, .nav__list > .golfer__name, .group-grid__header > .golfer__stat-group, .golfer__details > .golfer__stat-group, .golfer__stat-group > .golfer__stat-group, .golfer__last-tournaments > .golfer__stat-group, .golfer__last-majors > .golfer__stat-group, .golfer__last-championship > .golfer__stat-group, .selected > .golfer__stat-group, .nav__list > .golfer__stat-group, .group-grid__header > .golfer__last-tournaments, .golfer__details > .golfer__last-tournaments, .golfer__stat-group > .golfer__last-tournaments, .golfer__last-tournaments > .golfer__last-tournaments, .golfer__last-majors > .golfer__last-tournaments, .golfer__last-championship > .golfer__last-tournaments, .selected > .golfer__last-tournaments, .nav__list > .golfer__last-tournaments, .group-grid__header > .golfer__last-majors, .golfer__details > .golfer__last-majors, .golfer__stat-group > .golfer__last-majors, .golfer__last-tournaments > .golfer__last-majors, .golfer__last-majors > .golfer__last-majors, .golfer__last-championship > .golfer__last-majors, .selected > .golfer__last-majors, .nav__list > .golfer__last-majors, .group-grid__header > .golfer__last-championship, .golfer__details > .golfer__last-championship, .golfer__stat-group > .golfer__last-championship, .golfer__last-tournaments > .golfer__last-championship, .golfer__last-majors > .golfer__last-championship, .golfer__last-championship > .golfer__last-championship, .selected > .golfer__last-championship, .nav__list > .golfer__last-championship, .group-grid__header > .golfer__stat-header, .golfer__details > .golfer__stat-header, .golfer__stat-group > .golfer__stat-header, .golfer__last-tournaments > .golfer__stat-header, .golfer__last-majors > .golfer__stat-header, .golfer__last-championship > .golfer__stat-header, .selected > .golfer__stat-header, .nav__list > .golfer__stat-header, .group-grid__header > .golfer__stat, .golfer__details > .golfer__stat, .golfer__stat-group > .golfer__stat, .golfer__last-tournaments > .golfer__stat, .golfer__last-majors > .golfer__stat, .golfer__last-championship > .golfer__stat, .selected > .golfer__stat, .nav__list > .golfer__stat, .group-grid__header > .selected__list, .golfer__details > .selected__list, .golfer__stat-group > .selected__list, .golfer__last-tournaments > .selected__list, .golfer__last-majors > .selected__list, .golfer__last-championship > .selected__list, .selected > .selected__list, .nav__list > .selected__list, .group-grid__header > .nav__item, .golfer__details > .nav__item, .golfer__stat-group > .nav__item, .golfer__last-tournaments > .nav__item, .golfer__last-majors > .nav__item, .golfer__last-championship > .nav__item, .selected > .nav__item, .nav__list > .nav__item, .group-grid__header > .nav__item--previous, .golfer__details > .nav__item--previous, .golfer__stat-group > .nav__item--previous, .golfer__last-tournaments > .nav__item--previous, .golfer__last-majors > .nav__item--previous, .golfer__last-championship > .nav__item--previous, .selected > .nav__item--previous, .nav__list > .nav__item--previous, .group-grid__header > .nav__item--next, .golfer__details > .nav__item--next, .golfer__stat-group > .nav__item--next, .golfer__last-tournaments > .nav__item--next, .golfer__last-majors > .nav__item--next, .golfer__last-championship > .nav__item--next, .selected > .nav__item--next, .nav__list > .nav__item--next {
    padding-left: 0; }

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
/**
 * Create grids with wider gutters. Extends `.grid`.
 */
/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
/**
 * Halves
 */
/**
 * Thirds
 */
/**
 * Quarters
 */
/**
 * Fifths
 */
/**
 * Sixths
 */
/**
 * Eighths
 */
/**
 * Tenths
 */
/**
 * Twelfths
 */
/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (min-width: 18.75em) {
  /**
   * Whole
   */
  .group-grid__header, .golfer__name, .golfer__stat-group, .golfer__last-tournaments, .golfer__last-majors, .golfer__last-championship, .golfer__stat-header, .selected__list {
    width: 100%; }

  /**
   * Halves
   */
  .golfer__last-championship .golfer__stat, .nav__item, .nav__item--previous, .nav__item--next {
    width: 50%; }

  /**
   * Thirds
   */
  .golfer__stat {
    width: 33.333%; }

  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (min-width: 30.00625em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  .selected__list {
    width: 33.333%; }

  /**
   * Quarters
   */
  .group-grid__item, .group-grid__item--name, .group-grid__item--last-tournaments, .group-grid__item--last-majors, .group-grid__item--last-championship, .golfer__name, .golfer__stat-group, .golfer__last-tournaments, .golfer__last-majors, .golfer__last-championship {
    width: 25%; }

  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (max-width: 64em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (min-width: 64.00625em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  .golfer__name {
    width: 25%; }

  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/**
 * Not a particularly great selector, but the DRYest way to do things.
 */
[class*="push--"] {
  position: relative; }

/**
 * Whole
 */
/**
 * Halves
 */
/**
 * Thirds
 */
/**
 * Quarters
 */
/**
 * Fifths
 */
/**
 * Sixths
 */
/**
 * Eighths
 */
/**
 * Tenths
 */
/**
 * Twelfths
 */
@media only screen and (min-width: 18.75em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (min-width: 30.00625em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (max-width: 64em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (min-width: 64.00625em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
/**
 * Not a particularly great selector, but the DRYest way to do things.
 */
[class*="pull--"] {
  position: relative; }

/**
 * Whole
 */
/**
 * Halves
 */
/**
 * Thirds
 */
/**
 * Quarters
 */
/**
 * Fifths
 */
/**
 * Sixths
 */
/**
 * Eighths
 */
/**
 * Tenths
 */
/**
 * Twelfths
 */
@media only screen and (min-width: 18.75em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (min-width: 30.00625em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (max-width: 64em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (min-width: 64.00625em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-weight: 200; }

blockquote {
  padding-left: 20px;
  position: relative;
  margin-left: 0; }
  blockquote:before, blockquote:after {
    content: '';
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: -1; }
  blockquote:before {
    background-color: green;
    top: 0;
    left: 0; }
  blockquote:after {
    background-color: red;
    right: 0;
    bottom: 0; }

ul,
ol {
  margin-left: 24px;
  list-style-position: outside; }

table {
  border-collapse: collapse; }

td,
th {
  border: 1px solid #111111; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0; }

a {
  color: #0054a4; }
  a:hover, a:focus {
    color: #7fdbff; }
  a:active {
    color: #001f3f; }

h2 {
  text-align: center; }
  .no-mediaquery h2 {
    text-align: left; }

body {
  padding: 21px 24px;
  margin: 0 auto; }

.button {
  display: block;
  text-align: center;
  margin: 24px auto 12px;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ff4136;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff4136), to(#ff291d));
  background-image: -webkit-linear-gradient(top, #ff4136, #ff291d);
  background-image: linear-gradient(to bottom, #ff4136, #ff291d); }
  .button:hover, .button:focus {
    background-image: none;
    background-color: #ff4136;
    outline: none; }
  .button:focus {
    text-decoration: underline; }
  .button:hover:focus {
    text-decoration: none; }
  .button:active {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.3);
    background-color: #ff291d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff291d), to(#ff4136));
    background-image: -webkit-linear-gradient(top, #ff291d, #ff4136);
    background-image: linear-gradient(to bottom, #ff291d, #ff4136); }

.rules {
  color: #111111; }
  .rules input[type=checkbox] {
    display: none; }

.rules__special {
  color: #555555;
  padding: 12px;
  background-color: #eeeeee;
  overflow: hidden;
  max-height: 40px;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
  border-radius: 3px; }
  .no-mediaquery .rules__special {
    max-height: 1000px; }
  .rules__special label {
    display: block;
    padding-bottom: 12px;
    cursor: pointer; }
    .no-mediaquery .rules__special label {
      cursor: default; }

.rules__note {
  color: #555555;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.75; }

.rules__special em,
.rules__note em {
  font-style: normal;
  font-weight: 600; }

.rules__more-info-label {
  color: #0054a4;
  text-decoration: underline;
  cursor: pointer; }
  .no-mediaquery .rules__more-info-label {
    display: none; }

.rules__more-info {
  max-height: 0;
  overflow: hidden;
  background-color: #eeeeee;
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-transition: max-height 0.3s, padding 0.3s;
  transition: max-height 0.3s, padding 0.3s; }
  .no-mediaquery .rules__more-info {
    padding-top: 12px;
    max-height: 1000px;
    background-color: transparent;
    padding: 0; }

.rules #rules__more-info:checked ~ .rules__more-info {
  max-height: 1000px;
  margin-bottom: 21px;
  padding-top: 12px; }
.rules #rules__special:checked ~ .rules__special {
  max-height: 1000px; }

/**
 * Group

    <div class="group">

    <h2 class="group__title">Smokin' Hot</h2>

    <div class="group-grid">
      <ul class="group-grid__header">
        <li class="group-grid__item--name">Golfer</li>
        <li class="group-grid__item--last-tournaments">Last 3 Tournaments</li>
        <li class="group-grid__item--last-majors">Last 3 Majors</li>
        <li class="group-grid__item--last-championship">Last 2 PGA Championships</li>
      </ul>

    </div>
    </div>
 */
.group {
  border: 1px solid #eeeeee;
  border-radius: 3px; }

.group__title {
  margin: 0;
  padding: 12px;
  /*   background-color: lighten($color--gray-lighter, 2%); */ }

.group-grid__header {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.75;
  margin-bottom: 0;
  border-bottom: 1px solid #eeeeee;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, white, #eeeeee);
  background-image: linear-gradient(to bottom, white, #eeeeee); }

.group-grid__item, .group-grid__item--name, .group-grid__item--last-tournaments, .group-grid__item--last-majors, .group-grid__item--last-championship {
  text-align: center;
  border-left: 1px solid #eeeeee; }
  .no-mediaquery .group-grid__item, .no-mediaquery .group-grid__item--name, .no-mediaquery .group-grid__item--last-tournaments, .no-mediaquery .group-grid__item--last-majors, .no-mediaquery .group-grid__item--last-championship {
    display: none; }

.group-grid__item--name {
  border-left: none; }

/**
 * Golfer

    <ul class="golfer">
      <li class="golfer__name  golfer__country--us">Tiger Woods</li>

      <ul class="golfer__last-tournaments">
        <li class="golfer__stat-header">Last 3 Tournaments</li>
        <li class="golfer__stat">XX</li>
        <li class="golfer__stat">XX</li>
        <li class="golfer__stat">XX</li>
      </ul>

      <ul class="golfer__last-majors">
        <li class="golfer__stat-header">Last 3 Majors</li>
        <li class="golfer__stat">XX</li>
        <li class="golfer__stat">XX</li>
        <li class="golfer__stat">XX</li>
      </ul>

      <ul class="golfer__last-championship">
        <li class="golfer__stat-header">Last 2 PGA Championships</li>
        <li class="golfer__stat">XX</li>
        <li class="golfer__stat">XX</li>
      </ul>
    </ul>
 */
.golfer {
  border-bottom: 1px solid #eeeeee; }
  .golfer:last-of-type {
    border-bottom: none; }
  .golfer:nth-child(2n + 1) {
    background-color: #f3f3f3; }

.golfer__radio {
  display: none; }

.golfer__radio:checked + .golfer__label {
  background-color: #ff4136;
  color: white; }
  .golfer__radio:checked + .golfer__label .golfer__stat-header {
    color: #690600; }

.golfer__label {
  display: block; }
  .golfer__label:hover {
    background-color: rgba(255, 65, 54, 0.2); }

.golfer__name,
.golfer__stat,
.golfer__stat-header {
  padding: 6px 12px !important; }

.golfer__country:before, .golfer__country--ca:before, .golfer__country--us:before, .golfer__country--ie:before, .golfer__country--au:before, .golfer__country--es:before, .golfer__country--se:before, .golfer__country--fj:before, .golfer__country--co:before, .golfer__country--za:before, .golfer__country--gb:before, .golfer__country--de:before, .golfer__country--kr:before, .golfer__country--ar:before, .golfer__country--dk:before, .golfer__country--jp:before, .golfer__country--it:before, .golfer__country--in:before, .golfer__country--nz:before, .golfer__country--ng:before, .golfer__country--wales:before, .golfer__country--be:before {
  content: '';
  display: block;
  width: 16px;
  height: 21px;
  float: left;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 6px; }

.golfer__stat-group, .golfer__last-tournaments, .golfer__last-majors, .golfer__last-championship {
  border-left: 1px solid #eeeeee; }
  .no-mediaquery .golfer__stat-group, .no-mediaquery .golfer__last-tournaments, .no-mediaquery .golfer__last-majors, .no-mediaquery .golfer__last-championship {
    border-left: none; }

.golfer__stat-header {
  margin-left: 0;
  padding-left: 0;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.75; }
  .no-mediaquery .golfer__stat-header {
    display: none; }

.golfer__stat {
  text-align: center; }

.golfer__country--ca:before {
  background-image: url(../flags/ca.gif); }

.golfer__country--us:before {
  background-image: url(../flags/us.gif); }

.golfer__country--ie:before {
  background-image: url(../flags/ie.gif); }

.golfer__country--au:before {
  background-image: url(../flags/au.gif); }

.golfer__country--es:before {
  background-image: url(../flags/es.gif); }

.golfer__country--se:before {
  background-image: url(../flags/se.gif); }

.golfer__country--fj:before {
  background-image: url(../flags/fj.gif); }

.golfer__country--co:before {
  background-image: url(../flags/co.gif); }

.golfer__country--za:before {
  background-image: url(../flags/za.gif); }

.golfer__country--gb:before {
  background-image: url(../flags/gb.gif); }

.golfer__country--de:before {
  background-image: url(../flags/de.gif); }

.golfer__country--kr:before {
  background-image: url(../flags/kr.gif); }

.golfer__country--ar:before {
  background-image: url(../flags/ar.gif); }

.golfer__country--dk:before {
  background-image: url(../flags/dk.gif); }

.golfer__country--jp:before {
  background-image: url(../flags/jp.gif); }

.golfer__country--it:before {
  background-image: url(../flags/it.gif); }

.golfer__country--in:before {
  background-image: url(../flags/in.gif); }

.golfer__country--nz:before {
  background-image: url(../flags/nz.gif); }

.golfer__country--ng:before {
  background-image: url(../flags/ng.gif); }

.golfer__country--wales:before {
  background-image: url(../flags/wales.gif); }

.golfer__country--be:before {
  background-image: url(../flags/be.gif); }

/**
 * SELECTED
    <div class="selected">
      <h2 class="selected__title">Selected Golfers</h2>

      <dl class="selected__list">
        <dt class="selected__group">Group 1</dt>
        <dd class="selected__player">Tiger Woods</dd>
      </dl>
    </div>
 */
.selected {
  border: 1px solid #999999;
  padding: 12px;
  border-radius: 3px;
  margin-bottom: 24px; }

.selected__list {
  margin-bottom: 0; }
  .no-mediaquery .selected__list {
    text-align: center; }

.selected__group {
  /*   padding-right: $gutter--skinny; */
  font-weight: 600; }
  .selected__group:after {
    content: ":"; }

.selected__player {
  margin-left: 0;
  margin-bottom: 0; }

/**
 * TERMS

    <div class="terms">
      <h2 class="terms__title">Terms &amp; Conditions</h2>

      <article class="terms__content">
        <h3>Overall Contest Rules</h3>

        <p>In the two weeks leading up to each Major, contestants can enter by picking players from the field for that event.


        <dl>
          <dt>Participants do not have to purchase any merchandise from:</dt>
          <dd>
            <ul>
              <li>Inside Golf Inc.</li>
              <li>Nike Golf Canada ("Nike Golf")</li>
            </ul>
            to participate or to win. Void where prohibited by law. Subject to all federal, provincial and municipal laws and regulations.
          </dd>
        </dl>

      </article>

      <span class="agree-form">
        <input type="checkbox" form="entry-form" id="agree" name="agree">
        <label class="entry-form__label--agree" for="agree">I Agree to these Terms &amp; Conditions</label>
      </span>
    </div>
 */
.terms {
  background-color: #eeeeee;
  border-radius: 3px; }

.terms__title {
  margin: 0;
  padding: 12px; }

.terms__content {
  overflow: scroll;
  border: 1px solid #999999;
  height: 350px;
  padding: 12px;
  background-color: white;
  margin: 0 12px;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.75; }
  .terms__content h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3125;
    margin-bottom: 0; }
  .terms__content p {
    margin: 3px 0; }
  .terms__content dl {
    margin: 0; }
  .terms__content dd {
    margin-left: 12px; }
  .terms__content ul {
    margin: 0;
    padding-left: 12px; }

.agree-form {
  text-align: right;
  display: block;
  padding: 12px; }

/**
 * CONTACT FORM

    <div class="entry-form">
      <h2 class="entry-form__title">Contact Information</h2>

      <form class="entry-form__form" id="entry-form">
        <label class="entry-form__label--email" for="entry-form__email">Email Address</label>
        <input class="entry-form__email" id="entry-form__email" name="entry-form__email" type="email">

        <input class="entry-form__newsletter" id="entry-form__newsletter" name="entry-form__newsletter" type="checkbox">
        <label class="entry-form__label--newsletter" for="entry-form__newsletter">Sign Me Up</label>

        <button class="entry-form__button" type="submit">Enter the Picking the Majors Contest</button>
      </form>
    </div>
 */
.entry-form {
  border-radius: 3px;
  background-color: #eeeeee;
  padding: 12px;
  margin: 24px 0; }

.entry-form__form {
  text-align: center; }

.entry-form__label, .entry-form__label--newsletter, .entry-form__label--email {
  display: block;
  margin-top: 24px; }
  .entry-form__label:after, .entry-form__label--newsletter:after, .entry-form__label--email:after {
    content: ':'; }

.entry-form__email-wrapper {
  width: 100%;
  margin: 0 auto; }
  .no-mediaquery .entry-form__email-wrapper {
    width: 512px;
    max-width: 100%; }

.entry-form__email {
  padding: 6px 6px;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125; }

.entry-form__button {
  display: block;
  text-align: center;
  margin: 24px auto 12px;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ff4136;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff4136), to(#ff291d));
  background-image: -webkit-linear-gradient(top, #ff4136, #ff291d);
  background-image: linear-gradient(to bottom, #ff4136, #ff291d); }
  .entry-form__button:hover, .entry-form__button:focus {
    background-image: none;
    background-color: #ff4136;
    outline: none; }
  .entry-form__button:focus {
    text-decoration: underline; }
  .entry-form__button:hover:focus {
    text-decoration: none; }
  .entry-form__button:active {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.3);
    background-color: #ff291d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff291d), to(#ff4136));
    background-image: -webkit-linear-gradient(top, #ff291d, #ff4136);
    background-image: linear-gradient(to bottom, #ff291d, #ff4136); }

.entry-form__label--newsletter {
  display: inline-block; }

.entry-form__label--email {
  text-align: left; }

.thank-you__title {
  text-align: center; }

/**
 * NAV

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item--previous">
          <a class="nav__link" href="#prev">Back</a>
        </li>

        <li class="nav__item--next">
          <a class="nav__link" href="#next">Continue</a>
        </li>
      </ul>
    </nav>
 */
.nav {
  margin-top: 21px; }

.nav__list {
  /*   @extend %clean-list; */ }

.nav__link {
  text-decoration: none; }

.nav__item--previous {
  text-align: left; }

.nav__item--next {
  text-align: right; }

.footer {
  margin: 21px auto; }

.footer-copyright {
  color: #999999;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.75;
  margin: 0; }

.footer-nav {
  text-align: center; }

.footer-nav__item {
  display: inline-block; }

.footer-nav__link {
  text-decoration: none;
  font-size: 9px;
  font-size: 0.5625rem;
  line-height: 2.33333;
  margin: 0; }